<div class="modal fade" id="taskModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="taskForm" class="needs-validation" action="#" method="post" novalidate>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <input class="form-control form-control-lg" type="text" placeholder="Task Name" id="taskName" required>
                            </div>
                            <div class="form-group" style="margin-top: 35px;">
                                <label for="descriptionTextArea" style="font-size: 18px;">Description</label>
                                <textarea class="form-control" id="descriptionTextArea" rows="3">The task requires us to do a lot of different thins in a really short period of time, hopefully everything works properly...</textarea>
                            </div>
                            <div class="form-group" style="margin-top: 35px;">
                                <label id="difficultyLabel" for="difficultyRange" style="margin-bottom: 0px; font-size: 18px;">Difficulty: 4</label>
                                <p id="brewLevel" style="font-size: 12px;"> Brew Level: Double Shot </p>
                                <input type="range" class="slider" min="1" max="10" value="4" step="1" id="difficultyRange" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="statusInput">Status</label>
                                <select id="statusInput" class="form-control" required>
                                    <option disabled selected value>Choose...</option>
                                    <option>To Do</option>
                                    <option>Done</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="taskInput">Type</label>
                                <select id="taskInput" class="form-control" required>
                                    <option disabled selected value>Choose...</option>
                                    <option value="Reading">Reading</option>
                                    <option value="Project">Project</option>
                                    <option value="Assignment">Assignment</option>
                                    <option value="Exam">Exam</option>
                                    <option value="Quiz">Quiz</option>
                                    <option value="Task">Task</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="courseInput">Course</label>
                                <select id="courseInput" class="form-control">
                                    <option disabled selected>Choose...</option>
                                    <option>CS 1800</option>
                                    <option>None</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dueDate">Due Date</label>
                                <input class="form-control" type="text" placeholder="YYYY-MM-DD" id="dueDate" required>
                                <input class="form-control" type="text" placeholder="hh:mm" id="dueTime" required>
                            </div>
                            <input id="tmSubmitLink" type="hidden" hidden value="/handlers/create-task">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="handleTask" class="btn btn-primary">
                    Create Task
                </button>
            </div>
        </div>
    </div>
</div>

<script type="module">
        assignScriptToClick('handleTask', createTaskForm);
    </script>

<script>
        var slider = document.getElementById("difficultyRange");
        var difficultyLabel = document.getElementById("difficultyLabel");
        var brewLevelParagraph = document.getElementById("brewLevel");

        let brewLevel = ["Decaf", "Instant Coffee with Creamer", "Drip", "Pour Over", "French Press", "Ristretto", "Straight Black Coffee", "Espresso", "Double Shot", "Triple Shot"];
        brewLevelParagraph.innerHTML = "Brew Level: " + brewLevel[parseInt(slider.value)-1];

        slider.oninput = function() {
            difficultyLabel.innerHTML = "Difficulty: " + this.value;
            brewLevelParagraph.innerHTML = "Brew Level: " + brewLevel[parseInt(this.value)-1];
        }
</script>